<!--Ad description-->
<ng-container *ngIf="imagesArr">
    <app-image-carousel [imageData]="imagesArr" [obj]="adObj"></app-image-carousel>
</ng-container>

<ng-container *ngIf="adObj">
    <mat-card class="desc-card">
        <mat-card-header>

        <mat-card-title>Basic information</mat-card-title>

        </mat-card-header>
        <mat-card-content class="content">

            <mat-list class="list">

                <mat-list-item>
                    <div class="info">
                        <span>Ad title</span> <span class="info-right">{{ adObj.ad_title }}</span>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <div class="info">
                        <span>Category</span> <span class="info-right">{{ adObj.subcategory }}</span>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <div class="info">
                        <span>Brand</span> <span class="info-right">{{ adObj.brand }}</span>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <div class="info">
                        <span>Parts and equipment group</span> <span class="info-right">{{ adObj.parts_group }}</span>
                    </div>
                </mat-list-item>

            </mat-list>

            <mat-list class="list l-lp">

                <mat-divider class="show-divider"></mat-divider>

                <mat-list-item>
                    <div class="info">
                        <span>Condition</span> <span class="info-right">{{ adObj.used }}</span>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <div class="info">
                        <span>Fixed price</span> <span class="info-right">{{ adObj.fixed_price == 1 ? 'Yes' : 'No' }}</span>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <div class="info">
                        <span>Price</span> <span class="info-right">{{ adObj.price ? adObj.price  : 'By appointment' }} $</span>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <div class="info">
                        <span>Advertisement number</span> <span class="info-right">{{ adObj.id }}</span>
                    </div>
                </mat-list-item>
        
            </mat-list>

        </mat-card-content>
    </mat-card>

</ng-container>