@import '../../../shared-style-second';

.card-container {
    padding: 10px;

    .card {
        max-width: 1144px;
        margin: 0 auto;
    };

    .inputs {
        @extend %inpt-size;
    };

    .inpt-two-field {
        @extend %inpt-two-field;
    };

    .inpt-text {
        @extend %inpt-text;
    };   
    
    .btn {
        @extend %btn;
    };

    .btn-group {
        display: flex;
        justify-content: space-between;
    };

    .btn-to-right {
        display: flex;
        justify-content: flex-end;
    };

    .check-group {
        font-size: 16px;
        margin: 25px 0px 0px 0px;
        padding-left: 9px;
    };
    
};

::ng-deep .custom-p-m .mat-form-field .mat-form-field-wrapper {
    margin: 0px!important;
    padding: 0px!important;
}

.advanced-card {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 0px;
    height: 100%;
    cursor: pointer;
  }
  
.wide-card {
    width: 60%;
    padding: 16px;
}

.bold {
    font-weight: 500;
}

  .image-container {
    width: 40%;
  };

  .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0px!important;
  }

  .text {
    display: flex;
    justify-content: space-around;
    padding: 2px;
  }