@import '../../../shared-style';
@import '../../../account-style.scss';

.password-form {

    .heading {
        @extend %heading;
    }
}

.password-container {
    @extend %password-container;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 8px;
    button {
        width: 105px;
        line-height: 48px;
    };
};

.error-msg {
    padding: 0px 8px 0px 8px;
    color: #f91514;
};

.msg-container {
    display: flex;
    justify-content: center;
}

.first, .second {
    width: 50%;
}