<!--Password settings-->
<form class="password-form" [formGroup]="passwordForm" (ngSubmit)="change()">
    <div class="heading">Password settings</div>

    <div class="password-container">

        <mat-form-field appearance="outline" class="inputs">
            <mat-label>Old password</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="oldPassword">
        </mat-form-field>

        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div *ngIf="password?.errors?.['required']" class="error-msg">
                This field is required.
            </div>
            <div *ngIf="password?.errors?.['minlength']" class="error-msg">
                This field must have at least 6 character.
            </div>
        </div>
    </div>

    <div class="password-container">        
        <mat-form-field appearance="outline" class="inputs" formGroupName="passwordGroup">
            <mat-label>New password</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="password">
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="inputs" formGroupName="passwordGroup">
            <mat-label>Confirm new password</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="confirmPassword">
        </mat-form-field>

        <div class="msg-container">
            <div class="first">
                <div *ngIf="passwordGroup.password.touched && passwordGroup.password.invalid">

                    <div *ngIf="passwordGroup.password.errors.required" class="error-msg">Password is required.</div>
                    <div *ngIf="passwordGroup.password.errors.minlength" class="error-msg">
                        This field must have at least 6 character.
                    </div>
                </div>
                <div *ngIf="passwordGroupVal.errors" class="error-msg">
                    Password and confirm not match
                </div>
            </div>
            
                <div class="second">
                    <div *ngIf="passwordGroup.confirmPassword.touched && passwordGroup.confirmPassword.invalid">
                        <div *ngIf="passwordGroup.confirmPassword.errors.required" class="error-msg">Password is required.</div>
                        <div *ngIf="passwordGroup.confirmPassword.errors.minlength" class="error-msg">
                            This field must have at least 6 character.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    <div class="btn">
        <button mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.valid">Change</button>
    </div>
</form>