%inpt-size {
    width: 25%;
    font-size: 12px;
    padding: 8px;
    box-sizing: border-box;
};


%inpt-two-field {
    display: inline-flex;
    justify-content: space-between;
    width: 25%;
    padding: 8px;
    box-sizing: border-box;
    .inputs-half {
        font-size: 12px;
        width: 117px!important;
    }
};

%btn {
    display: inline-block;
    width: 25%;
    padding: 8px;
    box-sizing: border-box;
    button {
        width: 100%;
        line-height: 48px;
    };
};

%inpt-text {
    display: inline-block;
    width: 25%;
    font-size: 12px;
    padding: 8px;
    box-sizing: border-box;

    .distance-l {
        width: 70%;
        padding-right: 10px;
        text-align: right;
        box-sizing: border-box;
    };

    .distance-r {
        width: 30%;
    };
};

@media (max-width: 1200px) {
    %inpt-two-field {
        .inputs-half {
            width: 90px!important;
        }
    }
    
};

@media (max-width: 992px) {

    %inpt-two-field, %inpt-size, %btn, %inpt-text {
        width: 33.33333333333333%; 
    };
};

@media (max-width: 768px) {

    %inpt-two-field, %inpt-size, %btn, %inpt-text {
        width: 50%; 
    };

    %inpt-two-field {
        .inputs-half {
            width: 117px!important;
        };
    };
};

@media (max-width: 576px) {

    %inpt-two-field, %inpt-size, %btn, %inpt-text {
        width: 100%; 
    };

    %inpt-two-field {
        .inputs-half {
            width: 130px!important;
        }
    }
};

@media (max-width: 350px) {

    %inpt-two-field {
        .inputs-half {
            width: 90px!important;
        }
    }
};